// Global universal border-box
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Normalize

@import '../vendor/normalize-css/normalize';

// Grid System

$fg-breakpoints: (
  (xs),
  (sm, 48em),
  (md, 62em),
  (lg, 75em)
);

$fg-gutter : 0;

@import '../vendor/scss-flex-grid/flex-grid';


// Modules

@import 'modules/mixin';;
@import 'modules/fonts';
@import 'modules/layout';
@import 'modules/visual';
