<section id="code">
	<div id="wrapper">
		<h2>Sometimes I code.</h2>
		<h3 class="sub">I <abbr title="sometimes, too">enjoy</abbr> making stuff like this.</h3>
	</div>

	<div>
		<img src="img/code.png" alt="Code" title="that's not me, of course">
	</div>

	<a href="https://github.com/rkkautsar" class="button">View my GitHub profile</a>
</section>