<section id="design">
	<div class="wrapper">
		<h2>I <abbr title="doesn't mean I'm good">like</abbr> to design things.</h2>
		<h3 class="sub">I use Inkscape all the time.</h3>
	</div>
	
	<img src="./img/design.svg" height="50%" alt="Design">

	<a href="https://goo.gl/photos/UAtBZpoxrbyNsnGaA" class="button" target="_blank">View some of my work</a>

</section>
