<section id="more">
	<header>
		<h2>Not Enough?</h2>
		<h3 class="sub">Here's some more.</h3>	
	</header>
	
	<main>
		<ul>
			<li>I live <a href="https://www.google.co.id/maps/place/Depok,+Depok+City,+West+Java">here</a>.</li>
			<li>I'm a movie <a href="http://www.imdb.com/user/ur29831790">enthusiast</a>.</li>
			<li>I have some basic in <a href="http://www.codeforces.com/profile/rkkautsar">competitive programming</a>.</li>
			<li>I already have two <a href="http://rkkautsar.blogspot.com">abandoned</a> <a href="http://rkkautsar.wordpress.com">blogs</a>. And I still want to start <a href="https://rkkautsar.github.io/blog">one more</a>.</li>
			<li>I like to <a href="http://reddit.com/r/TodayILearned">learn new things</a>.</li>
			<li>I use <abbr title="Buggy, but beautiful">elementaryOS</abbr>, and recently Windows 10.</li>
			<li><a href="http://ohmyz.sh/">Oh-my-zsh</a>! I'll never go back to bash again.</li>
		</ul>
	</main>

	<div><!-- Dummy content to center main --></div>
</section>