<section id="personality">
	<header>
		<h2>I'm an INTP-A.</h2>
		<h3 class="sub">Introvert &middot; Intuitive &middot; Thinking &middot; Prospecting &middot; Assertive</h3>
	</header>

	<main>
		<iframe src="//giphy.com/embed/XwRHJ1eCGLju8?html5=true" width="320" height="180" frameBorder="0" class="giphy-embed" allowFullScreen title="Game of Life - Giphy"></iframe>
	</main>

	<a href="http://www.16personalities.com/profiles/56b48f7194cbb" class="button">More about my personality</a>
</section>