<section id="photo">
	<header>
		<h2>I usually the one behind the lens.</h2>
		<h3 class="sub">Some moments are meant to be <abbr title="except me; I don't like being photographed
			">captured</abbr>.</h3>
	</header>

	<main>
		<img src="img/photo.jpg" alt="Photo" title="Nikon D70s - 35mm f/1.8">
	</main>

	<a href="https://goo.gl/photos/3DJxKSy8xuR5Wwbw6" class="button">View more</a>
</section>