<section id="top">
	<div id="wrapper">
		<h1>Hello,</h1>
		<h2>I am Rakha Kanz Kautsar</h2>
		<h3 class="sub">a computer science undergrad at <span class="yellow">university of indonesia</span></h3>
	</div>
</section>
