<section id="top">
	<div class="wrapper">
		<h1>Hello,</h1>
		<h2>I am <abbr title="the h is silent">Rakha</abbr> Kanz Kautsar</h2>
		<h3 class="sub">a computer science undergrad at <span class="yellow">university of indonesia</span></h3>
	</div>
</section>
