{% extends 'includes/base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<h1>Hello!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus blanditiis, fuga deleniti porro dolor voluptates. Vel ea ducimus voluptate provident, quos, officiis perspiciatis cupiditate nulla cumque iusto incidunt esse pariatur.</p>
	<p>LiveReload rocks!</p>
{% endblock %}