{% extends 'includes/base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<main>
		{% include 'includes/sections/top.twig' %}
		{% include 'includes/sections/design.twig' %}
		{% include 'includes/sections/code.twig' %}
	</main>

{% endblock %}

{% block tail %}
	
{% endblock %}