{% extends 'includes/base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<main>
		{% include 'includes/sections/top.twig' %}
		{% include 'includes/sections/design.twig' %}
		{% include 'includes/sections/photo.twig' %}
		{% include 'includes/sections/personality.twig' %}
		{% include 'includes/sections/code.twig' %}
		{% include 'includes/sections/more.twig' %}
	</main>

	{% include 'includes/footer.twig' %}

{% endblock %}

{% block tail %}
	
{% endblock %}