// Color

$white : #fff;
$black : #333;
$yellow: #ff0; 

body {
	color: $white;
}

span.yellow {
	color: $yellow;
}

// Background Images

#top {
	background-image: url('../img/top-background.jpg');
	background-position: right;
	background-size: cover;
}

#design {
	color: $black;
}

.button {
	text-decoration: none;
	border: $black 1px solid;
	border-radius: 2em;
	padding: .5em 1em;
}