// Color

$white : #fff;
$black : #333;
$yellow: #ff0; 

body {
	color: $white;
}

span.yellow {
	color: $yellow;
}

// Background Images

#top {
	background-image: url('../img/top-background-dark.jpg');
	background-position: right;
	background-size: cover;
}

#design {
	color: $black;
	background-image: url('../img/design-background-light.jpg');
	background-position: center;
	background-size: cover;
}

#code {
	background-image: url('../img/code-background-dark.png');
	background-position: center;
	background-size: cover;
	
	.button {
		border-color: $white;
	}
}

.button {
	text-decoration: none;
	border: $black 1px solid;
	border-radius: 2em;
	padding: .5em 1em;
}